.square {
    background: #102027;
    border: 2px solid #999;
    float: left;
    color: #ffffff;
    font-size: 90px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.square:hover {
    color: #000000;
    background: #FFFFFF;
    outline: none;
}
